In [2]:
# Must be installed the first time you run this code
!pip install hdbscan
!pip install kneed

Requirement already satisfied: hdbscan in /opt/anaconda3/lib/python3.13/site-packages (0.8.41)
Requirement already satisfied: numpy<3,>=1.20 in /opt/anaconda3/lib/python3.13/site-packages (from hdbscan) (2.1.3)
Requirement already satisfied: scipy>=1.0 in /opt/anaconda3/lib/python3.13/site-packages (from hdbscan) (1.15.3)
Requirement already satisfied: scikit-learn>=1.6 in /opt/anaconda3/lib/python3.13/site-packages (from hdbscan) (1.6.1)
Requirement already satisfied: joblib>=1.0 in /opt/anaconda3/lib/python3.13/site-packages (from hdbscan) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.6->hdbscan) (3.5.0)
Requirement already satisfied: kneed in /opt/anaconda3/lib/python3.13/site-packages (0.8.5)
Requirement already satisfied: numpy>=1.14.2 in /opt/anaconda3/lib/python3.13/site-packages (from kneed) (2.1.3)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from kneed) (1.15.3)

In [3]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#from google.colab import drive
#from google.colab import files

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.cluster import AgglomerativeClustering, DBSCAN
from sklearn.metrics import pairwise_distances

from kneed import KneeLocator
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from scipy.cluster.hierarchy import dendrogram, linkage
import hdbscan

In [4]:
# Load an CSV file
file_path = 'https://www.dropbox.com/scl/fi/1jml6i3whezn5dzarkb6a/credit_card_customers.csv?rlkey=o5yjpunceaa9vo51yyudn0qw8&st=6tcl8ivy&dl=1'
data = pd.read_csv(file_path)

data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [5]:
data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000

In [7]:
data.info()
data.isnull().sum()
data.duplicated().sum()
data.drop_duplicates(inplace=True)
data.shape
data.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

## Data Exploration

In [ ]:
# focus on lifestage (dependant, marital)

#EDA:
behavioural - categorical
demographic - categorical
transactional - numerical


# Mapping nama dan task EDA
eda_tasks = {
    'diyouva': [
        "Eksplorasi lifestage (Dependent_count, Marital_Status) - distribusi dan visualisasi",
        "Statistik deskriptif untuk fitur demografis (Gender, Education_Level, Income_Category)"
    ],
    'utami': [
        "Eksplorasi fitur perilaku/behavioral (Card_Category, Attrition_Flag, Contacts_Count_12_mon)",
        "Frekuensi kategori dan visualisasi barplot untuk fitur-fitur behavioral"
    ],
    'rizaldy': [
        "Eksplorasi fitur transaksi (Total_Trans_Amt, Total_Trans_Ct, Avg_Utilization_Ratio, Credit_Limit)",
        "Statistik deskriptif dan visualisasi distribusi/boxplot untuk fitur-fitur numerik/transactional"
    ]
}

# Tampilkan mapping tugas
import pprint
print("Mapping Tugas EDA per orang:")
pprint.pprint(eda_tasks)


# correlation

# PCA

# Objective

Business Goal: Our primary objective is to increase the Utilization Rate, which
drives sales volume and revenue.  
Proposed Strategy: "Cluster based on Life Stage, then target with offers to
increase Usage. 
" By identifying the life stage first, we can find under-utilized
segments (e.g.,
"Families with low credit usage") and design specific product
offers to encourage higher utilization.

## Data Preprocesssing

In [ ]:
#kalo ada yg perlu di encode, boleh pake labelencoder
#kalo ada yang perlu di  normalize, boleh pake minmaxscaler

#sesuai hasil EDA, ga semua kolom harus jadi fitur

## K-Means Clustering

## Hierarchical Clustering

## DBSCAN

In [ ]:
data.to_csv('clustered_data.csv', index=False)
files.download('clustered_data.csv')